@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply duration-100 transition-all;
  }
  .clickedIcon {
    @apply text-white;
  }
  .clickedSpan {
    @apply bg-red-500;
  }
  ol {
    @apply grid grid-cols-1 gap-0.5 divide-y-2 border-2 border-slate-300 rounded-md p-2 shadow-md shadow-black;
  }
  li {
    @apply flex items-center justify-between;
  }
  /* LoadingIndicator.css */
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ef4444;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  p {
    margin-top: 10px;
    font-size: 18px;
    color: #ef4444;
  }
}
